/* Universal Selector*/
/*ifsc-3342 index*/

* {
	margin: 0px;
	padding: 0px;
}
















#footer {
	background-color: #000;
	color: #FFF;
	height: 25px;
}
#footer h6 {
	font-size: 12px;
	line-height: 25px;
	margin-right: 20px;
	margin-left: 20px;
}
